#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}


.github{
    width:50%;
    margin-right:2%;
    float: left;
}

.linkedin {
    width:50;
    float: left;
}
.clearfix{
    clear:both
}